<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title DOSSIER DE CANDIDATURE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <style>
        body {
            background:url('../../fonts/Image1.jpg');
            
            color:cadetblue;
        }

        .id {
            width: 130px;
            height: 100px;
            margin-left: 10px;
            margin-right: 1320px;
            margin-top: 10px;
        }

        h2 {
            color: deepskyblue
        }
    </style>

</head>

<body>
    <div class="id" id="header">
        <br />
        <img src="~/fonts/Image2.png" style="" class="img-responsive" />
    </div>


    <div class="container body-content">
        @RenderBody()


    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <footer>
        <p>&copy;  Experis-IT 2018</p>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
