@model DossierDeCandidature.Models.RenseignementAdministratif
<style>
    .form-group {
        margin-right: 15px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="form-inline">
                <br /><br /><br />
                <h2 class="text-center">RENSEIGNEMENTS ADMINISTRATIFS</h2>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })

                </div>
                <br />
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.NomJeuneFille, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NomJeuneFille, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomJeuneFille, "", new { @class = "text-danger" })
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CodePostal, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CodePostal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CodePostal, "", new { @class = "text-danger" })
                </div>
                <br />
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.Ville, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })

                </div>
                <br />
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.indicatif, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.indicatif, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.indicatif, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })

                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Secu, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Secu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Secu, "", new { @class = "text-danger" })
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.DateNaiss, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateNaiss, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateNaiss, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LieuNaiss, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LieuNaiss, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LieuNaiss, "", new { @class = "text-danger" })
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.AutorisationTravail, htmlAttributes: new { @class = "control-label" })
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AutorisationTravail)
                        @Html.ValidationMessageFor(model => model.AutorisationTravail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.DateExpiration, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DateExpiration, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateExpiration, "", new { @class = "text-danger" })

                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.PermisConduire, htmlAttributes: new { @class = "control-label" })
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PermisConduire)
                        @Html.ValidationMessageFor(model => model.PermisConduire, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Vehicule, htmlAttributes: new { @class = "control-label" })
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Vehicule)
                        @Html.ValidationMessageFor(model => model.Vehicule, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Handicap, htmlAttributes: new { @class = "control-label" })
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Handicap)
                        @Html.ValidationMessageFor(model => model.Handicap, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.AmenagementPoste, htmlAttributes: new { @class = "control-label" })
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AmenagementPoste)
                        @Html.ValidationMessageFor(model => model.AmenagementPoste, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />

                <input type="submit" value="Modifier" class="btn btn-primary pull-right" />

            </div>
        </div>
    </div>
}
@{
    int ID = (int)Session["idRenseignement"];
}
<div class="form-actions no-color">
    @Html.ActionLink("Retour", "Verification", "Enregistrement", new { Id = ID }, null)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
