@model IEnumerable<DossierDeCandidature.Models.RenseignementAdministratif>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomJeuneFille)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indicatif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateNaiss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LieuNaiss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutorisationTravail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateExpiration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermisConduire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Handicap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmenagementPoste)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomJeuneFille)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodePostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indicatif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateNaiss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LieuNaiss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutorisationTravail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateExpiration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermisConduire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Handicap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmenagementPoste)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
