@model DossierDeCandidature.Models.Candidature

@{
    var date = DateTime.Today.ToString("yyyy-MM-dd");

}
<style>

    .progressbar {
        counter-reset: step;
    }

        .progressbar li {
            list-style-type: none;
            width: 10%;
            float: left;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #7d7d7d;
                top: 15px;
                left: -50%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: lightskyblue;
            }

            .progressbar li.activeBefore {
                color: #00BD39;
            }

            .progressbar li.active:before {
                border-color: dodgerblue;
            }

            .progressbar li.activeBefore:before {
                border-color: #00BD39;
            }

            .progressbar li.activeBefore + li:after {
                background-color: #00BD39;
            }

    #progressBar {
        margin-left: 100px;
    }
</style>
<script src="~/Scripts/JavaScript.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="progressBar">

        <ul class="progressbar">
            <li class="activeBefore"></li>
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-horizontal">
                <br /><br /><br />
                <h2 class="text-center">VOTRE CANDIDATURE</h2>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group ">
                    @Html.LabelFor(model => model.Origine, htmlAttributes: new { @class = "control-label col-md-2" })
                    @{
                        var selectListOrigine = new SelectList(
                            new List<SelectListItem>
                            {
                                                    new SelectListItem {Text = "- Choisissez l'origine de votre candidature -", Value = ""},
                                                    new SelectListItem {Text = "Contact Experis-IT", Value = "Contact Experis-IT"},
                                                    new SelectListItem {Text = "Cooptation", Value = "Cooptation"},
                                                    new SelectListItem {Text = "Annonce", Value = "Annonce"},
                                                    new SelectListItem {Text = "Autre", Value = "Autre"},

                            }, "Value", "Text");
                    }
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Origine, selectListOrigine, new { @class = "form-control", @name = "Origine", @id = "origine", @style = "text-align-last:center" })
                        @*<select class="form-control" name="Origine" id="origine" style="text-align-last:center">
                                <option value="">- Choisissez l'origine de votre candidature -</option>
                                <option value="Contact Experis-IT">Contact Experis-IT</option>
                                <option value="Cooptation">Cooptation</option>
                                <option value="Annonce">Annonce</option>
                                <option value="Autre">Autre</option>
                            </select>*@
                        @Html.ValidationMessageFor(model => model.Origine, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:none" id="Autre">
                    @Html.LabelFor(model => model.Autre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Autre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Autre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.statutActuel, htmlAttributes: new { @class = "control-label col-md-2" })
                    @{
                        var selectListStatut = new SelectList(
                            new List<SelectListItem>
                            {
                                            new SelectListItem {Text = "-- Statut ---", Value = ""},
                                            new SelectListItem {Text = "Cadre", Value = "Cadre"},
                                            new SelectListItem {Text = "Non cadre", Value = "Non cadre"},
                                            new SelectListItem {Text = "En poste", Value = "En poste"},
                                            new SelectListItem {Text = "En stage", Value = "En stage"},
                                            new SelectListItem {Text = "Sans Emploi", Value = "Sans Emploi"},
                                            new SelectListItem {Text = "Preavi en cours", Value = "Preavi en cours"},

                            }, "Value", "Text");
                    }
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.statutActuel, selectListStatut, new { @class = "form-control", @name = "statutActuel", @id = "statut", @style = "text-align-last:center" })
                        @*<select class="form-control" name="statutActuel" id="statut" style="text-align-last:center">
                                <option value="">-- Statut --</option>
                                <option value="Cadre">Cadre</option>
                                <option value="Non cadre">Non cadre</option>
                                <option value="En poste">En poste</option>
                                <option value="En stage">En stage</option>
                                <option value="Sans Emploi">Sans Emploi</option>
                                <option value="Preavi en cours">Préavis en cours</option>
                            </select>*@
                        @Html.ValidationMessageFor(model => model.statutActuel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="posteActuel" style="display:block">
                    @Html.LabelFor(model => model.PosteActuel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PosteActuel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PosteActuel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PosteSouhaite, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PosteSouhaite, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PosteSouhaite, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="remunerationActuel" style="display:block">
                    @Html.LabelFor(model => model.Remuneration, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Remuneration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Remuneration, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RemunerationVoulu, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RemunerationVoulu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RemunerationVoulu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0 } })
                        @*<input type="number" name="Experience" class="form-control" min="0" />*@
                        @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Disponibilite, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="date" name="Disponibilite" class="form-control" min="@date" />
                        @*@Html.EditorFor(model => model.Disponibilite, new { htmlAttributes = new { @class = "form-control", @min = @date,@name= "Disponibilite" } })*@
                        @Html.ValidationMessageFor(model => model.Disponibilite, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mobilité, htmlAttributes: new { @class = "text-right control-label col-md-5" })

                    <div class="checkbox col-md-5">
                        @*<input type="checkbox" id="checkboxMobilite" name="mobilité" value="false">*@
                        @Html.CheckBoxFor(model => model.mobilité, new { id = "checkboxMobilite" })
                        @Html.ValidationMessageFor(model => model.mobilité, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group" id="inputMobilitePrecision" style="display:none">
                    @Html.LabelFor(model => model.Precision, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Precision, new { htmlAttributes = new { @class = "form-control", @id = "inputMobilitePrecision" } })
                        @Html.ValidationMessageFor(model => model.Precision, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group">
                    <input type="submit" value="Suivant" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
