@model DossierDeCandidature.Models.Candidature

@{
    var date = DateTime.Today.ToString("yyyy-MM-dd");
    var dateChoisie = Model.Disponibilite.ToString("dd-MM-yyyy");
}
<script src="~/Scripts/JavaScript.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="form-horizontal">
                <br /><br /><br />
                <h2 class="text-center">VOTRE CANDIDATURE</h2>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Origine, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.Origine, new { htmlAttributes = new { @class = "form-control" } })*@

                        @if (Model.Origine == "")
                        {
                            <select class="form-control" name="Origine" id="origine">
                                <option value="" selected>- Choisissez l'origine de votre candidature -</option>
                                <option value="Contact Experis-IT">Contact Experis-IT</option>
                                <option value="Cooptation">Cooptation</option>
                                <option value="Annonce">Annonce</option>
                                <option value="Autre">Autre</option>
                            </select>
                        }
                        @if (Model.Origine == "Contact Experis-IT")
                        {
                            <select class="form-control" name="Origine" id="origine">
                                <option value="">- Choisissez l'origine de votre candidature -</option>
                                <option value="Contact Experis-IT" selected>Contact Experis-IT</option>
                                <option value="Cooptation">Cooptation</option>
                                <option value="Annonce">Annonce</option>
                                <option value="Autre">Autre</option>
                            </select>
                        }
                        @if (Model.Origine == "Cooptation")
                        {
                            <select class="form-control" name="Origine" id="origine">
                                <option value="">- Choisissez l'origine de votre candidature -</option>
                                <option value="Contact Experis-IT">Contact Experis-IT</option>
                                <option value="Cooptation" selected>Cooptation</option>
                                <option value="Annonce">Annonce</option>
                                <option value="Autre">Autre</option>
                            </select>
                        }
                        @if (Model.Origine == "Annonce")
                        {
                            <select class="form-control" name="Origine" id="origine">
                                <option value="">- Choisissez l'origine de votre candidature -</option>
                                <option value="Contact Experis-IT">Contact Experis-IT</option>
                                <option value="Cooptation">Cooptation</option>
                                <option value="Annonce" selected>Annonce</option>
                                <option value="Autre">Autre</option>
                            </select>
                        }
                        @if (Model.Origine == "Autre")
                        {
                            <select class="form-control" name="Origine" id="origine">
                                <option value="">- Choisissez l'origine de votre candidature -</option>
                                <option value="Contact Experis-IT">Contact Experis-IT</option>
                                <option value="Cooptation">Cooptation</option>
                                <option value="Annonce">Annonce</option>
                                <option value="Autre" selected>Autre</option>
                            </select>
                        }
                        @Html.ValidationMessageFor(model => model.Origine, "", new { @class = "text-danger" })

                    </div>
                </div>


                @if (Model.Origine == "Autre")
                {
                    <div class="form-group" style="display:block" id="Autre">
                        @Html.LabelFor(model => model.Autre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Autre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Autre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                @if (Model.Origine != "Autre")
                {
                    <div class="form-group" style="display:none" id="Autre">
                        @Html.LabelFor(model => model.Autre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Autre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Autre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }



                <div class="form-group">
                    @Html.LabelFor(model => model.statutActuel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (Model.statutActuel == "")
                        {
                            <select class="form-control" name="statutActuel" id="statut">
                                <option value="" selected>- Statut -</option>
                                <option value="Cadre">Cadre</option>
                                <option value="Non cadre">Non cadre</option>
                                <option value="En poste">En poste</option>
                                <option value="En stage">En stage</option>
                                <option value="Sans Emploi">Sans Emploi</option>
                                <option value="Preavi en cours">Préavi en cours</option>
                            </select>
                        }
                        @if (Model.statutActuel == "Cadre")
                        {
                            <select class="form-control" name="statutActuel" id="statut">
                                <option value="">- Statut -</option>
                                <option value="Cadre" selected>Cadre</option>
                                <option value="Non cadre">Non cadre</option>
                                <option value="En poste">En poste</option>
                                <option value="En stage">En stage</option>
                                <option value="Sans Emploi">Sans Emploi</option>
                                <option value="Preavi en cours">Préavi en cours</option>
                            </select>
                        }
                        @if (Model.statutActuel == "Non cadre")
                        {
                            <select class="form-control" name="statutActuel" id="statut">
                                <option value="">- Statut -</option>
                                <option value="Cadre">Cadre</option>
                                <option value="Non cadre" selected>Non cadre</option>
                                <option value="En poste">En poste</option>
                                <option value="En stage">En stage</option>
                                <option value="Sans Emploi">Sans Emploi</option>
                                <option value="Preavi en cours">Préavi en cours</option>
                            </select>
                        }
                        @if (Model.statutActuel == "En poste")
                        {
                            <select class="form-control" name="statutActuel" id="statut">
                                <option value="">- Statut -</option>
                                <option value="Cadre">Cadre</option>
                                <option value="Non cadre">Non cadre</option>
                                <option value="En poste" selected>En poste</option>
                                <option value="En stage">En stage</option>
                                <option value="Sans Emploi">Sans Emploi</option>
                                <option value="Preavi en cours">Préavi en cours</option>
                            </select>
                        }
                        @if (Model.statutActuel == "En stage")
                        {
                            <select class="form-control" name="statutActuel" id="statut">
                                <option value="">- Statut -</option>
                                <option value="Cadre">Cadre</option>
                                <option value="Non cadre">Non cadre</option>
                                <option value="En poste">En poste</option>
                                <option value="En stage" selected>En stage</option>
                                <option value="Sans Emploi">Sans Emploi</option>
                                <option value="Preavi en cours">Préavi en cours</option>
                            </select>
                        }
                        @if (Model.statutActuel == "Sans Emploi")
                        {
                            <select class="form-control" name="statutActuel" id="statut">
                                <option value="">- Statut -</option>
                                <option value="Cadre">Cadre</option>
                                <option value="Non cadre">Non cadre</option>
                                <option value="En poste">En poste</option>
                                <option value="En stage">En stage</option>
                                <option value="Sans Emploi" selected>Sans Emploi</option>
                                <option value="Preavi en cours">Préavi en cours</option>
                            </select>
                        }
                        @if (Model.statutActuel == "Preavi en cours")
                        {
                            <select class="form-control" name="statutActuel" id="statut">
                                <option value="">- Statut -</option>
                                <option value="Cadre">Cadre</option>
                                <option value="Non cadre">Non cadre</option>
                                <option value="En poste">En poste</option>
                                <option value="En stage">En stage</option>
                                <option value="Sans Emploi">Sans Emploi</option>
                                <option value="Preavi en cours" selected>Préavi en cours</option>
                            </select>
                        }
                        @Html.ValidationMessageFor(model => model.statutActuel, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (Model.statutActuel != "Sans Emploi")
                {
                    <div class="form-group" id="posteActuel" style="display:block">
                        @Html.LabelFor(model => model.PosteActuel, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PosteActuel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PosteActuel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                @if (Model.statutActuel == "Sans Emploi")
                {
                    <div class="form-group" id="posteActuel" style="display:none">
                        @Html.LabelFor(model => model.PosteActuel, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PosteActuel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PosteActuel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.PosteSouhaite, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PosteSouhaite, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PosteSouhaite, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (Model.statutActuel != "Sans Emploi")
                {
                    <div class="form-group" id="remunerationActuel" style="display:block">
                        @Html.LabelFor(model => model.Remuneration, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Remuneration, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PosteActuel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                @if (Model.statutActuel == "Sans Emploi")
                {
                    <div class="form-group" id="remunerationActuel" style="display:none">
                        @Html.LabelFor(model => model.Remuneration, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Remuneration, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Remuneration, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.RemunerationVoulu, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @{
                            int remunerationVoulue = (int)Model.RemunerationVoulu;
                        }
                        <input name="RemunerationVoulu" class="form-control text-box single-line input-validation-error" id="RemunerationVoulu" type="text" value="remunerationVoulue" data-val-required="Le champ Rémunération annuelle souhaitée (euro) est requis." data-val-number="Le champ Rémunération annuelle souhaitée (euro) doit être un nombre." data-val="true">
                        @*@Html.EditorFor(model => model.RemunerationVoulu, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.RemunerationVoulu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Disponibilite, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Disponibilite, new { htmlAttributes = new { @class = "form-control", @type = "text", @pattern = "d{1,2}/d{1,2}/d{4}" } })
                        @Html.ValidationMessageFor(model => model.Disponibilite, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mobilité, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @if (Model.mobilité)
                            {
                                @*<input type="checkbox" id="checkboxMobilite" name="mobilité" value="true">*@
                                @Html.CheckBoxFor(model => model.mobilité, new { id = "checkboxMobilite" });
                            }
                            @if (!Model.mobilité)
                            {
                                @*<input type="checkbox" id="checkboxMobilite" name="mobilité" value="false">*@
                                @Html.CheckBoxFor(model => model.mobilité, new { id = "checkboxMobilite" });

                            }
                            @Html.ValidationMessageFor(model => model.mobilité, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                @if (!Model.mobilité)
                {

                    <div class="form-group" id="inputMobilitePrecision" style="display:none">
                        @Html.LabelFor(model => model.Precision, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="inputMobilitePrecision" name="Precision" class="form-control" value="@Model.Precision">
                            @Html.ValidationMessageFor(model => model.Precision, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                @if (Model.mobilité)
                {
                    var precisionMobilite = @Model.Precision;
                    <div class="form-group" id="inputMobilitePrecision" style="display:block">
                        @Html.LabelFor(model => model.Precision, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="inputMobilitePrecision" name="Precision" class="form-control" value="@precisionMobilite">
                            @Html.ValidationMessageFor(model => model.Precision, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <br />
                }

                <div class="form-group">
                    <input type="submit" value="Modifier" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

}
@{
    int ID = (int)Session["idRenseignement"];
}
<div class="form-actions no-color">
    @Html.ActionLink("Retour", "Verification", "Enregistrement", new { Id = ID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
